In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
os.chdir(r'C:\Users\zhang\Desktop\Machine Learning\Project\data')

In [38]:
# vital signs and life support
vital_signs = pd.read_csv('chartevents.csv', index_col = 0)

In [5]:
# find required vital signs
patient_id = [56, 37, 26, 3, 21, 83, 149, 105, 146, 148, 117, 181, 176, 235, 157, 177, 261, 283, 286, 356, 353, 346, 377, 430, 414, 434, 433, 408, 491, 471, 472, 501, 532, 503, 538, 546, 545, 596, 564, 584, 631, 618, 627, 679, 682, 714, 732, 768, 813, 787, 781, 832, 819, 874, 908, 826, 940, 977, 985, 984, 992, 998, 1039, 1038, 1000, 1120, 1094, 1124, 1088, 1141, 1194, 1207, 1158, 1193, 1227, 1266, 1308, 1357, 1348, 1332, 1320, 1313, 1371, 1380, 1390, 1394, 1369, 1481, 1455, 1453, 1474, 1488, 1470, 1501, 1521, 1606, 1586, 1604, 1621, 1670, 1641, 1715, 1692, 1790, 1795, 1752, 1804, 1832, 1855, 1890, 1898, 1905, 1892, 1979, 1931, 1944, 1999, 2010, 2074, 2042, 2040, 2014, 2085, 2156, 2114, 2180, 2228, 2231, 2213, 2187, 2243, 2259, 2268, 2272, 2265, 2318, 2381, 2448, 2417, 2385, 2346, 2392, 2395, 2428, 2484, 2556, 2503, 2558, 2512, 2530, 2561, 2581, 2592, 2614, 2670, 2652, 2690, 2702, 2664, 2712, 2769, 2783, 2788, 2708, 2809, 2828, 2817, 2842, 2827, 2911, 2937, 2906, 2987, 2953, 3049, 3002, 3011, 3154, 3089, 3102, 3132, 3213, 3226, 3191, 3235, 3261, 3281, 3287, 3245, 3275, 3347, 3297, 3368, 3362, 3294, 3401, 3400, 3386, 3471, 3484, 3526, 3607, 3620, 3593, 3699, 3678, 3676, 3682, 3757, 3780, 3773, 3735, 3771, 3759, 3781, 3790, 3804, 3830, 3840, 3872, 3884, 3886, 3929, 3974, 3888, 3932, 3975, 4016, 4073, 4070, 4110, 4107, 4077, 4074, 4112, 4133, 4159, 4200, 4145, 4191, 4202, 4230, 4254, 4245, 4228, 4270, 4275, 4305, 4294, 4348, 4336, 4410, 4452, 4422, 4453, 4518, 4537, 4543, 4589, 4613, 4690, 4666, 4653, 4726, 4765, 4795, 4793, 4785, 4855, 4868, 4848, 4879, 4875, 4893, 4884, 4954, 4902, 4894, 4980, 4976, 5016, 5004, 5006, 5054, 5074, 5072, 5077, 5170, 5158, 5161, 5194, 5145, 5201, 5197, 5198, 5235, 5205, 5252, 5244, 5304, 5254, 5246, 5308, 5307, 5369, 5386, 5489, 5494, 5478, 5472, 5370, 5514, 5554, 5555, 5535, 5528, 5506, 5606, 5597, 5573, 5598, 5632, 5672, 5676, 5608, 5683, 5619, 5695, 5701, 5689, 5742, 5738, 5766, 5784, 5812, 5873, 5860, 5964, 5957, 5960, 5996, 6037, 6012, 6016, 6008, 6017, 6077, 6073, 6053, 6094, 6092, 6042, 6112, 6099, 6183, 6124, 6212, 6255, 6283, 6272, 6375, 6359, 6349, 6433, 6468, 6472, 6470, 6493, 6503, 6505, 6480, 6525, 6575, 6519, 6610, 6604, 6615, 6589, 6647, 6749, 6751, 6758, 6709, 6710, 6726, 6821, 6798, 6809, 6817, 6789, 6832, 6906, 6863, 6942, 6973, 6978, 6996, 7027, 7018, 7097, 7098, 7103, 7214, 7155, 7224, 7266, 7260, 7272, 7225, 7234, 7251, 7323, 7315, 7364, 7373, 7358, 7363, 7406, 7432, 7460, 7466, 7407, 7481, 7519, 7515, 7511, 7528, 7557, 7546, 7552, 7539, 7604, 7605, 7638, 7655, 7693, 7718, 7726, 7764, 7789, 7830, 7825, 7782, 7786, 7820, 7874, 7860, 7924, 7961, 7934, 7953, 7971, 7952, 7985, 8009, 8001, 8057, 8011, 8087, 8115, 8084, 8086, 8141, 8192, 8156, 8171, 8186, 8196, 8145, 8224, 8222, 8231, 8324, 8373, 8366, 8396, 8370, 8440, 8445, 8444, 8465, 8475, 8516, 8556, 8617, 8579, 8709, 8652, 8770, 8798, 8734, 8829, 8852, 8857, 8810, 8859, 8815, 8874, 8884, 8883, 8904, 8896, 8920, 8915, 8969, 8985, 8983, 8992, 8943, 8996, 8999, 9031, 9002, 9013, 9082, 9119, 9129, 9132, 9137, 9134, 9157, 9152, 9200, 9259, 9258, 9227, 9233, 9248, 9309, 9338, 9331, 9352, 9358, 9378, 9412, 9377, 9402, 9380, 9439, 9514, 9473, 9536, 9545, 9595, 9598, 9702, 9699, 9754, 9732, 9768, 9792, 9818, 9800, 9880, 9865, 9901, 9900, 9827, 9889, 9902, 9945, 9936, 9920, 9970, 9982, 10040, 10006, 10032, 10027, 10029, 10045, 10053, 10070, 10083, 10094, 10114, 10088, 10150, 10159, 10163, 10168, 10188, 10272, 10288, 10301, 10314, 10305, 10330, 10299, 10416, 10379, 10452, 10451, 10431, 10487, 10446, 10549, 10541, 10525, 10499, 10534, 10565, 10568, 10579, 10577, 10563, 10600, 10616, 10594, 10612, 10653, 10628, 10679, 10749, 10692, 10695, 10837, 10804, 10830, 10872, 10811, 10906, 10881, 10992, 10987, 10979, 10976, 11076, 11035, 11091, 11092, 11137, 11142, 11146, 11198, 11148, 11191, 11147, 11195, 11209, 11216, 11310, 11321, 11276, 11280, 11348, 11336, 11346, 11332, 11386, 11340, 11476, 11404, 11395, 11455, 11460, 11506, 11479, 11523, 11544, 11567, 11583, 11609, 11608, 11590, 11589, 11677, 11626, 11684, 11687, 11702, 11724, 11710, 11763, 11764, 11808, 11819, 11824, 11871, 11881, 11850, 11837, 11897, 11832, 11956, 11971, 12018, 12030, 12051, 12058, 12038, 12071, 12098, 12081, 12091, 12156, 12166, 12152, 12183, 12245, 12287, 12322, 12357, 12362, 12351, 12378, 12387, 12404, 12372, 12413, 12406, 12471, 12461, 12479, 12450, 12585, 12547, 12581, 12573, 12613, 12660, 12634, 12645, 12717, 12721, 12713, 12727, 12706, 12732, 12776, 12739, 12807, 12870, 12873, 12821, 12820, 12890, 12944, 12899, 12916, 12945, 12964, 12980, 12955, 13010, 12961, 13035, 13038, 13151, 13136, 13078, 13190, 13236, 13193, 13319, 13335, 13294, 13326, 13265, 13408, 13431, 13445, 13457, 13412, 13355, 13495, 13526, 13549, 13541, 13536, 13575, 13566, 13552, 13559, 13558, 13599, 13602, 13625, 13600, 13640, 13686, 13695, 13693, 13703, 13715, 13728, 13739, 13759, 13745, 13790, 13796, 13847, 13856, 13859, 13852, 13888, 13868, 13882, 13931, 13906, 13924, 13964, 13965, 13946, 13957, 13990, 13993, 14038, 14012, 14041, 14059, 14120, 14123, 14125, 14114, 14061, 14173, 14126, 14169, 14266, 14265, 14291, 14267, 14237, 14332, 14366, 14393, 14410, 14423, 14475, 14472, 14515, 14476, 14506, 14511, 14498, 14566, 14568, 14579, 14612, 14629, 14590, 14633, 14663, 14716, 14750, 14780, 14787, 14768, 14757, 14846, 14827, 14802, 14883, 14887, 14905, 14898, 14960, 14994, 14936, 15009, 15010, 15011, 15027, 15087, 15143, 15120, 15138, 15192, 15170, 15218, 15235, 15194, 15227, 15201, 15266, 15250, 15279, 15328, 15347, 15330, 15404, 15431, 15398, 15382, 15445, 15457, 15475, 15454, 15472, 15513, 15546, 15504, 15510, 15649, 15576, 15654, 15624, 15558, 15668, 15662, 15703, 15691, 15779, 15723, 15730, 15775, 15717, 15809, 15784, 15894, 15903, 15902, 15847, 15943, 15963, 15961, 15935, 15919, 16019, 16036, 16070, 16061, 16042, 16038, 16074, 16193, 16177, 16178, 16186, 16173, 16194, 16260, 16288, 16200, 16361, 16360, 16301, 16403, 16400, 16411, 16370, 16426, 16423, 16436, 16540, 16499, 16523, 16547, 16490, 16531, 16576, 16617, 16619, 16621, 16631, 16646, 16630, 16732, 16733, 16723, 16724, 16748, 16752, 16811, 16839, 16805, 16862, 16861, 16868, 16881, 16873, 16894, 16942, 16915, 16917, 16985, 16988, 16965, 16992, 16994, 17018, 17021, 17072, 17083, 17089, 17112, 17127, 17150, 17216, 17232, 17289, 17311, 17297, 17330, 17368, 17367, 17374, 17341, 17417, 17438, 17421, 17411, 17399, 17467, 17485, 17497, 17505, 17556, 17628, 17616, 17629, 17574, 17660, 17647, 17675, 17655, 17744, 17720, 17719, 17690, 17683, 17688, 17749, 17767, 17754, 17758, 17782, 17833, 17853, 17805, 17848, 17843, 17866, 17889, 17912, 17926, 17987, 18060, 18063, 18127, 18076, 18126, 18137, 18216, 18167, 18280, 18298, 18320, 18401, 18376, 18359, 18368, 18420, 18465, 18458, 18568, 18569, 18556, 18531, 18546, 18612, 18617, 18600, 18589, 18614, 18679, 18640, 18659, 18736, 18738, 18700, 18748, 18750, 18765, 18811, 18818, 18842, 18838, 18839, 18815, 18868, 18983, 18962, 18936, 18982, 18989, 18988, 18984, 19075, 19069, 19045, 19055, 19040, 19080, 19082, 19128, 19095, 19145, 19179, 19233, 19213, 19243, 19253, 19242, 19246, 19328, 19354, 19346, 19333, 19413, 19416, 19452, 19424, 19380, 19468, 19463, 19552, 19570, 19494, 19458, 19572, 19589, 19582, 19597, 19588, 19592, 19609, 19632, 19634, 19689, 19684, 19765, 19768, 19754, 19734, 19736, 19811, 19841, 19793, 19819, 19823, 19872, 19930, 19952, 19953, 19978, 19986, 20009, 20001, 20068, 20011, 20043, 20131, 20101, 20155, 20211, 20194, 20207, 20190, 20309, 20354, 20324, 20384, 20402, 20381, 20425, 20449, 20508, 20465, 20580, 20538, 20551, 20534, 20646, 20633, 20603, 20725, 20703, 20748, 20742, 20678, 20812, 20793, 20794, 20750, 20769, 20879, 20886, 20846, 20832, 20854, 20866, 20815, 20910, 20940, 20972, 20941, 20913, 20974, 21058, 21082, 21132, 21124, 21135, 21175, 21115, 21226, 21219, 21237, 21246, 21267, 21265, 21256, 21270, 21324, 21312, 21280, 21355, 21357, 21329, 21393, 21380, 21391, 21385, 21405, 21455, 21435, 21442, 21462, 21438, 21431, 21484, 21488, 21497, 21507, 21551, 21553, 21572, 21652, 21684, 21736, 21730, 21705, 21700, 21754, 21781, 21738, 21740, 21795, 21826, 21815, 21870, 21846, 21880, 21830, 21857, 21903, 21926, 21951, 21922, 21910, 22046, 22042, 22026, 22062, 22025, 22043, 22029, 22078, 22098, 22119, 22092, 22176, 22214, 22189, 22213, 22177, 22126, 22192, 22259, 22230, 22228, 22219, 22218, 22280, 22241, 22336, 22368, 22373, 22332, 22399, 22392, 22496, 22499, 22492, 22480, 22494, 22498, 22543, 22573, 22537, 22660, 22664, 22609, 22657, 22659, 22595, 22615, 22671, 22715, 22711, 22751, 22772, 22777, 22780, 22808, 22861, 22874, 22865, 22863, 22891, 22855, 22818, 22910, 22938, 22901, 22944, 22956, 22995, 22976, 22979, 22990, 22984, 23024, 23070, 23038, 23014, 23083, 23097, 23176, 23172, 23157, 23221, 23249, 23211, 23190, 23242, 23258, 23290, 23292, 23259, 23308, 23325, 23455, 23412, 23418, 23497, 23468, 23510, 23513, 23508, 23611, 23550, 23592, 23590, 23635, 23641, 23660, 23656, 23736, 23696, 23688, 23748, 23786, 23760, 23761, 23792, 23807, 23866, 23795, 23836, 23814, 23938, 23873, 23919, 23961, 23877, 23903, 23872, 23952, 24049, 24045, 24043, 24042, 24019, 24021, 24064, 24065, 24091, 24074, 24102, 24110, 24143, 24128, 24141, 24190, 24198, 24223, 24248, 24269, 24266, 24286, 24356, 24352, 24325, 24334, 24372, 24423, 24407, 24389, 24475, 24470, 24582, 24569, 24556, 24593, 24603, 24626, 24633, 24655, 24638, 24653, 24631, 24675, 24703, 24718, 24756, 24769, 24823, 24851, 24852, 24837, 24858, 24870, 24881, 24891, 24935, 24966, 24956, 24924, 24933, 24993, 24988, 24978, 25029, 25035, 25061, 25016, 25093, 25113, 25097, 25073, 25069, 25140, 25170, 25151, 25147, 25255, 25180, 25184, 25292, 25284, 25286, 25363, 25365, 25344, 25377, 25383, 25395, 25354, 25408, 25415, 25455, 25432, 25449, 25430, 25525, 25546, 25550, 25538, 25606, 25556, 25568, 25579, 25562, 25656, 25627, 25672, 25730, 25717, 25702, 25725, 25742, 25749, 25823, 25814, 25838, 25774, 25760, 25809, 25871, 25875, 25841, 25889, 25957, 25955, 25946, 25962, 26083, 26063, 26107, 26013, 26102, 26040, 26155, 26156, 26209, 26174, 26215, 26248, 26234, 26237, 26271, 26300, 26311, 26318, 26320, 26277, 26355, 26354, 26412, 26443, 26459, 26455, 26479, 26429, 26550, 26516, 26583, 26619, 26689, 26696, 26676, 26795, 26709, 26977, 27054, 27023, 26979, 27056, 27310, 27220, 27193, 27176, 27227, 27455, 27377, 27558, 27421, 27466, 27644, 27648, 28140, 28146, 28072, 28155, 28321, 28327, 28707, 28726, 28653, 28903, 28863, 28894, 28907, 29080, 29132, 29256, 29183, 29816, 29663, 29732, 29877, 29957, 30053, 30135, 30420, 30469, 30404, 30845, 31134, 31025, 31381, 31647, 31418, 31730, 31760, 31710, 31711, 31886, 31853, 32131, 32169, 32064, 32319, 32393, 32591, 32618, 32627, 32763]

In [40]:
vital_signs.drop(['icustay_id', 'elemid', 'cgid','charttime', 'realtime','cuid', 'stopped'], axis = 1, inplace = True)

In [41]:
# remain rows based on patient_id
flag = []
for i in range(vital_signs.shape[0]):
    if vital_signs.index[i] in patient_id:
        flag.append(1)
    else:
        flag.append(0)

In [44]:
vital_signs['flag'] = flag
vital_signs = vital_signs[vital_signs['flag'] == 1]
vital_signs.drop('flag', axis = 1, inplace = True)

In [48]:
chart_items = [4, 5, 6, 51, 52, 63, 211, 224, 225, 442, 443, 455, 456, 480, 482, 484, 618, 619, 646, 676, 677, 678, 679, 1449, 2275, 2293, 2351, 2368, 2374, 2515, 2637, 2642, 2731, 2732, 2736, 2758, 2769, 2790, 2831, 2865, 2940, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 6701, 6702, 6926, 7242, 7243, 7618, 7620, 7622, 7625]

In [50]:
vital_signs['subject_id'] = vital_signs.index
vital_signs.set_index('itemid', inplace = True)

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\597654459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs['subject_id'] = vital_signs.index

In [52]:
# remain rows based on chart_items
flag = []
for i in range(vital_signs.shape[0]):
    if vital_signs.index[i] in chart_items:
        flag.append(1)
    else:
        flag.append(0)

In [54]:
vital_signs['flag'] = flag
vital_signs = vital_signs[vital_signs['flag'] == 1]

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\792323815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs['flag'] = flag

In [55]:
vital_signs

,value1,value1num,value1uom,value2,value2num,value2uom,resultstatus,subject_id,flag
itemid,,,,,,,,,
677,35.444400787353516,35.444401,Deg. C,NaN,NaN,NaN,NaN,56,1
678,95.800003051757812,95.800003,Deg. F,NaN,NaN,NaN,NaN,56,1
646,94,94.000000,%,NaN,NaN,NaN,NaN,56,1
455,141,141.000000,mmHg,56,56.0,mmHg,NaN,56,1
211,80,80.000000,BPM,NaN,NaN,NaN,NaN,56,1
...,...,...,...,...,...,...,...,...,...
646,91,91.000000,%,NaN,NaN,NaN,NaN,32763,1
51,0,0.000000,mmHg,0,0.0,mmHg,NaN,32763,1
52,43,43.000000,mmHg,NaN,NaN,NaN,NaN,32763,1
618,37,37.000000,BPM,NaN,NaN,NaN,NaN,32763,1
211,0,0.000000,BPM,NaN,NaN,NaN,NaN,32763,1

In [56]:
item = vital_signs.index
item

Int64Index([677, 678, 646, 455, 211, 618, 456, 677, 678, 646,
            ...
            646, 211, 618,  52,  51, 646,  51,  52, 618, 211],
           dtype='int64', name='itemid', length=2447399)

In [57]:
vital_signs['itemid'] = vital_signs.index
vital_signs.set_index('subject_id', inplace = True)
vital_signs.drop('flag', axis = 1, inplace = True)

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\3286155661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs['itemid'] = vital_signs.index
C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\3286155661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs.drop('flag', axis = 1, inplace = True)

In [58]:
vital_signs

,value1,value1num,value1uom,value2,value2num,value2uom,resultstatus,itemid
subject_id,,,,,,,,
56,35.444400787353516,35.444401,Deg. C,NaN,NaN,NaN,NaN,677
56,95.800003051757812,95.800003,Deg. F,NaN,NaN,NaN,NaN,678
56,94,94.000000,%,NaN,NaN,NaN,NaN,646
56,141,141.000000,mmHg,56,56.0,mmHg,NaN,455
56,80,80.000000,BPM,NaN,NaN,NaN,NaN,211
...,...,...,...,...,...,...,...,...
32763,91,91.000000,%,NaN,NaN,NaN,NaN,646
32763,0,0.000000,mmHg,0,0.0,mmHg,NaN,51
32763,43,43.000000,mmHg,NaN,NaN,NaN,NaN,52
32763,37,37.000000,BPM,NaN,NaN,NaN,NaN,618
32763,0,0.000000,BPM,NaN,NaN,NaN,NaN,211

In [59]:
vital_signs['itemid'].value_counts()

211     422360
646     417490
618     408749
51      257098
52      254405
455     186268
456     184074
678      92878
677      92709
676      41601
679      41333
619      33995
225       6472
224       4535
6701      1190
6702      1176
442        318
443        293
63         190
5           81
4           81
480         46
484         37
482         19
6            1
Name: itemid, dtype: int64

In [63]:
# remain item with valid value larger than 25%
remain_chartitems = pd.DataFrame(vital_signs['itemid'].value_counts())
remain_chartitems = remain_chartitems[remain_chartitems['itemid'] > (0.25 * 1621)]
remain_chartitems_list = []
for i in remain_chartitems.index:
    remain_chartitems_list.append(i)

In [64]:
remain_chartitems

      itemid
211   422360
646   417490
618   408749
51    257098
52    254405
455   186268
456   184074
678    92878
677    92709
676    41601
679    41333
619    33995
225     6472
224     4535
6701    1190
6702    1176

In [66]:
vital_signs['subject_id'] = vital_signs.index
vital_signs.set_index('itemid', inplace = True)

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\597654459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs['subject_id'] = vital_signs.index

In [70]:
# remain selected items
flag = []
for i in range(vital_signs.shape[0]):
    if vital_signs.index[i] in remain_chartitems_list:
        flag.append(1)
    else:
        flag.append(0)

In [73]:
vital_signs['flag'] = flag
vital_signs = vital_signs[vital_signs['flag'] == 1]

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\792323815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs['flag'] = flag

In [74]:
vital_signs

,value1,value1num,value1uom,value2,value2num,value2uom,resultstatus,subject_id,flag
itemid,,,,,,,,,
677,35.444400787353516,35.444401,Deg. C,NaN,NaN,NaN,NaN,56,1
678,95.800003051757812,95.800003,Deg. F,NaN,NaN,NaN,NaN,56,1
646,94,94.000000,%,NaN,NaN,NaN,NaN,56,1
455,141,141.000000,mmHg,56,56.0,mmHg,NaN,56,1
211,80,80.000000,BPM,NaN,NaN,NaN,NaN,56,1
...,...,...,...,...,...,...,...,...,...
646,91,91.000000,%,NaN,NaN,NaN,NaN,32763,1
51,0,0.000000,mmHg,0,0.0,mmHg,NaN,32763,1
52,43,43.000000,mmHg,NaN,NaN,NaN,NaN,32763,1
618,37,37.000000,BPM,NaN,NaN,NaN,NaN,32763,1
211,0,0.000000,BPM,NaN,NaN,NaN,NaN,32763,1

In [75]:
itemid = vital_signs.index

In [76]:
vital_signs.describe()

          value1num      value2num    subject_id       flag
count  2.433976e+06  442655.000000  2.446333e+06  2446333.0
mean   7.813074e+01      55.266982  1.383274e+04        1.0
std    3.660166e+01      14.282633  8.091714e+03        0.0
min    0.000000e+00       0.000000  3.000000e+00        1.0
25%    5.400000e+01      46.000000  6.789000e+03        1.0
50%    8.800000e+01      54.000000  1.396500e+04        1.0
75%    9.950000e+01      63.000000  2.076900e+04        1.0
max    3.030000e+02     296.000000  3.276300e+04        1.0

In [77]:
vital_signs.to_csv('vital_signs.csv', index = True)

In [81]:
# select blood pressure information from several variables named related to blood pressure
# they share the same unit 'mmHg'
bp = pd.DataFrame(vital_signs[vital_signs['value1uom'] == 'mmHg'])

<bound method IndexOpsMixin.value_counts of Int64Index([455, 456, 455, 456, 455, 456, 455, 456, 455, 456,
            ...
             52,  51,  52,  51,  52,  51,  52,  51,  51,  52],
           dtype='int64', name='itemid', length=886308)>

In [82]:
bp['itemid'] = bp.index
bp.set_index('subject_id', inplace = True)

In [85]:
bp['itemid'].value_counts()

51      256351
52      253659
455     185848
456     183662
224       4462
6701      1171
6702      1155
Name: itemid, dtype: int64

In [ ]:
# remain 51 and 52
diacardid =[455, 456, 224, 6701, 6702]

In [91]:
vital_signs.drop(discardid, inplace = True)

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\2376705748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs.drop(discardid, inplace = True)

In [95]:
vital_signs.index.value_counts()

211    422360
646    417490
618    408749
52     254405
456    184074
678     92878
677     92709
676     41601
679     41333
619     33995
225      6472
Name: itemid, dtype: int64

In [96]:
# remove redundant information
discardid = [678, 679, 225, 619]

In [99]:
vital_signs.drop(discardid, inplace = True)

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\2376705748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs.drop(discardid, inplace = True)

In [100]:
vital_signs

,value1,value1num,value1uom,value2,value2num,value2uom,resultstatus,subject_id,flag
itemid,,,,,,,,,
677,35.444400787353516,35.444401,Deg. C,NaN,NaN,NaN,NaN,56,1
646,94,94.000000,%,NaN,NaN,NaN,NaN,56,1
211,80,80.000000,BPM,NaN,NaN,NaN,NaN,56,1
618,20,20.000000,BPM,NaN,NaN,NaN,NaN,56,1
456,84.333297729492188,84.333298,mmHg,NaN,NaN,NaN,NaN,56,1
...,...,...,...,...,...,...,...,...,...
52,88,88.000000,mmHg,NaN,NaN,NaN,NaN,32763,1
646,91,91.000000,%,NaN,NaN,NaN,NaN,32763,1
52,43,43.000000,mmHg,NaN,NaN,NaN,NaN,32763,1
618,37,37.000000,BPM,NaN,NaN,NaN,NaN,32763,1
211,0,0.000000,BPM,NaN,NaN,NaN,NaN,32763,1

In [101]:
itemid = vital_signs.index

In [102]:
vital_signs['itemid'] = vital_signs.index
vital_signs.set_index('subject_id', inplace = True)
vital_signs.drop('flag', axis = 1, inplace = True)

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\3286155661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs['itemid'] = vital_signs.index
C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\3286155661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_signs.drop('flag', axis = 1, inplace = True)

In [104]:
vital_signs.to_csv('vital_signs.csv', index = True)

In [110]:
patient_id = list(vital_signs.index.unique())
remain_item_id = list(vital_signs.itemid.unique())

In [112]:
# initialize a data frame to store mean for each variable
vital_calculate = pd.DataFrame(data = np.zeros(1594*7).reshape(1594, 7), index = patient_id, columns = remain_item_id)
vital_calculate

       677  646  211  618  456  52   676
56     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0
21     0.0  0.0  0.0  0.0  0.0  0.0  0.0
37     0.0  0.0  0.0  0.0  0.0  0.0  0.0
26     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...
32393  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32591  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32618  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32627  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32763  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1594 rows x 7 columns]

In [114]:
# calculate mean
for i in vital_calculate.index:
    for j in vital_calculate.columns:
        tem_lst = [x for x in vital_signs[(vital_signs.index==i)&(vital_signs.itemid==j)].value1num.astype(float)]
        value = np.mean(tem_lst)
        vital_calculate.loc[i, j] = value

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [118]:
vital_calculate

             677        646         211        618        456        52   676
56     36.392580  99.686275   79.226415  25.769231  69.532056        NaN  NaN
3      36.256956  97.133333   92.376471        NaN  75.104169        NaN  NaN
21     36.494510  96.823699   76.756098  17.926230        NaN  76.480874  NaN
37     37.425933  96.531250   81.093750  22.161290  73.144436        NaN  NaN
26     37.161110  97.564103   70.580000  20.060000  61.241138        NaN  NaN
...          ...        ...         ...        ...        ...        ...  ...
32393  36.396820  97.067568  103.256757  27.777027        NaN  68.833333  NaN
32591  33.819426        NaN   57.733333  15.000000  49.272727  38.769231  NaN
32618  36.753746  96.081633   82.804196  23.867133  63.013889  67.073529  NaN
32627  37.008487  97.901587   71.293948  18.659942        NaN  66.413249  NaN
32763  37.266866  98.583423   76.642129        NaN        NaN  71.287222  NaN

[1594 rows x 7 columns]

In [117]:
vital_calculate.to_csv('vital_calculate.csv', index = True)

In [ ]:
# merge together!

In [120]:
patient_information = pd.read_csv('heart_failure.csv', index_col = 0)

In [124]:
# merge vital signs to entire data set
patient_information = patient_information.merge(vital_calculate, how = 'left', left_index = True, right_on = vital_calculate.index)
patient_information.drop('key_0', axis = 1, inplace = True)

In [141]:
pd.DataFrame(patient_information.isnull().sum()).to_csv('temp.csv', index = True)

In [142]:
patient_information

,hadm_id_x,code,description,sex,dob,dod,hospital_expire_flg,hadm_id_y,category,cardiac_arrhythmias,...,50004,50141,50193,677,646,211,618,456,52,676
56.0,28766,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,F,26/5/2553 00:00:00,23/1/2644 00:00:00,Y,28766.0,ELIXHAUSER,0.0,...,NaN,NaN,NaN,36.392580,99.686275,79.226415,25.769231,69.532056,NaN,NaN
37.0,18052,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,M,11/9/3195 00:00:00,31/12/3265 00:00:00,N,18052.0,ELIXHAUSER,0.0,...,NaN,4.300000,NaN,37.425933,96.531250,81.093750,22.161290,73.144436,NaN,NaN
26.0,15067,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,M,2/3/3007 00:00:00,22/12/3080 00:00:00,N,15067.0,ELIXHAUSER,1.0,...,NaN,NaN,NaN,37.161110,97.564103,70.580000,20.060000,61.241138,NaN,NaN
3.0,2075,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,M,28/2/2606 00:00:00,2/5/2683 00:00:00,N,2075.0,ELIXHAUSER,0.0,...,108.4,12.900000,NaN,36.256956,97.133333,92.376471,NaN,75.104169,NaN,NaN
21.0,20666,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,M,22/5/3051 00:00:00,28/3/3139 00:00:00,Y,20666.0,ELIXHAUSER,0.0,...,100.0,16.114286,NaN,36.494510,96.823699,76.756098,17.926230,NaN,76.480874,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32393.0,35086,428.33,ACUTE ON CHRONIC DIASTOLIC HEART FAILURE,M,6/2/3331 00:00:00,20/12/3410 00:00:00,Y,35086.0,ELIXHAUSER,1.0,...,99.0,NaN,NaN,36.396820,97.067568,103.256757,27.777027,NaN,68.833333,NaN
32591.0,32910,428.30,UNSPECIFIED DIASTOLIC HEART FAILURE,F,26/5/2998 00:00:00,3/10/3088 00:00:00,Y,32910.0,ELIXHAUSER,0.0,...,113.0,NaN,NaN,33.819426,NaN,57.733333,15.000000,49.272727,38.769231,NaN
32618.0,30229,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,M,29/6/3367 00:00:00,23/8/3429 00:00:00,Y,30229.0,ELIXHAUSER,0.0,...,NaN,4.600000,NaN,36.753746,96.081633,82.804196,23.867133,63.013889,67.073529,NaN
32627.0,33957,428.22,CHRONIC SYSTOLIC HEART FAILURE,M,4/8/2699 00:00:00,14/11/2788 00:00:00,Y,33957.0,ELIXHAUSER,1.0,...,NaN,NaN,NaN,37.008487,97.901587,71.293948,18.659942,NaN,66.413249,NaN
32763.0,33007,428.00,CONGESTIVE HEART FAILURE UNSPECIFIED,M,10/4/2645 00:00:00,9/7/2724 00:00:00,Y,33007.0,ELIXHAUSER,1.0,...,101.0,NaN,NaN,37.266866,98.583423,76.642129,NaN,NaN,71.287222,NaN

In [145]:
# remove redundant information
patient_information.drop(['hadm_id_x', 'code', 'description', 'hadm_id_y', 'category', '50030', '50006', '50087', '50641', '50648', '50134', '50674', '50656', '50429', '50331', '50418', '50012', '50378', '50264', '50277', '50004', '50141', '50193', 52, 676], axis = 1, inplace = True)

In [146]:
patient_information

,sex,dob,dod,hospital_expire_flg,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,chronic_pulmonary,...,50419,50408,50417,50373,50332,677,646,211,618,456
56.0,F,26/5/2553 00:00:00,23/1/2644 00:00:00,Y,0.0,0.0,0.0,0.0,1.0,0.0,...,84.000000,5.000000,5.000000,0.000000,6.000000,36.392580,99.686275,79.226415,25.769231,69.532056
37.0,M,11/9/3195 00:00:00,31/12/3265 00:00:00,N,0.0,0.0,0.0,0.0,0.0,1.0,...,72.440000,18.720000,5.420000,2.640000,0.000000,37.425933,96.531250,81.093750,22.161290,73.144436
26.0,M,2/3/3007 00:00:00,22/12/3080 00:00:00,N,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,37.161110,97.564103,70.580000,20.060000,61.241138
3.0,M,28/2/2606 00:00:00,2/5/2683 00:00:00,N,0.0,0.0,0.0,0.0,0.0,0.0,...,78.171429,12.300000,5.928571,2.085714,2.333333,36.256956,97.133333,92.376471,NaN,75.104169
21.0,M,22/5/3051 00:00:00,28/3/3139 00:00:00,Y,0.0,0.0,0.0,0.0,0.0,0.0,...,87.900000,6.527273,3.590909,1.190909,0.125000,36.494510,96.823699,76.756098,17.926230,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32393.0,M,6/2/3331 00:00:00,20/12/3410 00:00:00,Y,1.0,1.0,1.0,1.0,1.0,1.0,...,86.975000,7.600000,3.750000,1.425000,NaN,36.396820,97.067568,103.256757,27.777027,NaN
32591.0,F,26/5/2998 00:00:00,3/10/3088 00:00:00,Y,0.0,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,33.819426,NaN,57.733333,15.000000,49.272727
32618.0,M,29/6/3367 00:00:00,23/8/3429 00:00:00,Y,0.0,0.0,0.0,0.0,0.0,1.0,...,91.725000,3.625000,2.550000,0.450000,2.000000,36.753746,96.081633,82.804196,23.867133,63.013889
32627.0,M,4/8/2699 00:00:00,14/11/2788 00:00:00,Y,1.0,0.0,0.0,0.0,0.0,0.0,...,84.820000,5.860000,3.860000,1.240000,3.600000,37.008487,97.901587,71.293948,18.659942,NaN
32763.0,M,10/4/2645 00:00:00,9/7/2724 00:00:00,Y,1.0,1.0,0.0,0.0,1.0,0.0,...,82.642857,9.042857,4.200000,0.642857,4.250000,37.266866,98.583423,76.642129,NaN,NaN

In [147]:
# age calculation
age_df = patient_information1[['dob', 'dod']]

In [168]:
b = [i for i in age_df['dob'].values]
d = [i for i in age_df['dod'].values]

In [172]:
#extract born year and dead year from data frame
bornyear = []
for i in b:
    bornyear.append(i.split('/')[2].split(' ')[0])

deadyear = []
for i in d:
    deadyear.append(i.split('/')[2].split(' ')[0])

In [173]:
# store born year and dead year to data frame
age_df['born'] = bornyear
age_df['dead'] = deadyear

C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\1679698169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df['born'] = bornyear
C:\Users\zhang\AppData\Local\Temp\ipykernel_3112\1679698169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df['dead'] = deadyear

In [185]:
age = []
for i in range(1621):
    a = int(age_df.dead.values[i]) - int(age_df.born.values[i])
    age.append(a)

In [188]:
patient_information1['age'] = age

In [192]:
patient_information1.drop(['dod', 'dob'], axis = 1, inplace = True)

In [193]:
patient_information.to_csv('final_version.csv', index = True)